.auth__block{
  float: right;
  border-left: #004d68 1px solid;
  height: 75px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #004d68;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  >div{
    display: none;
    position: absolute;
    top: 50px;
  }
}
.auth__form{
  left: 40%;
  top: 15%;
  position: fixed;
  background: white;
  border:2px #004d68 solid;
  font-size: 26px;
  color: #004d68;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  >span{
    font-size: 20px;
    padding: 1.25%;
    margin-top: 20px;
    margin-bottom: 20px;
    &>span{
      font-weight: bold;
      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
.auth__inputs{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &>input  {
    border: 0.25px solid #004d68;
    font-size: 26px;
    border-radius: 25px;
    padding: 25px;
    //&:not(:last-child){
    //  margin-bottom: 10px;
    //}
    margin-top: 10px;
  }
}
.auth__subbtn{
  background: #004d68;
  color: white;
  font-size: 26px;
  border-radius: 25px;
  padding: 2.5%;
  margin-top: 10px;
  margin-bottom: 10px;
}
