.body{
  display: flex;
  justify-content: center;
  background: white;
  color: white;
  min-width: 90%;
  min-height: 100vh;
}
.container{
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  min-width: 100%;
  flex-direction: column;
}
#bodyButton{
  position: relative;
  float: right;
  margin-top: 1.25%;
  padding:0 2.5%;
  font-size: 25px;
  background: #004d68;
  border-radius: 25px;
  color: white;
  line-height: 1.75;
}