.body{
  display: flex;
  justify-content: center;
  background: white;
  color: white;
  width: 100%;
  min-height: 100vh;
}
.container{
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  min-width: 100%;
  flex-direction: column;
}