.multisum__row{
  display: flex;
  width: 100%;
}
.multisum__block{
  position: relative;
  &>.multisum__item:nth-child(2){
    position: absolute;
    top: 41.5%;
    left: 45%;
    color: red;
    opacity: 0;
    &.enter{
      animation: forwards 1s msi-result;
    }
    &.enter-done{
      opacity: 1;
      transform: translate(340%,420%);
    }
  }
  &>.multisum__item:nth-child(3){
    position: absolute;
    top: 40%;
    left: 45%;
    opacity: 0;
    &.enter{
      animation: forwards 2s msi-buffer;
    }
  }
  &>.multisum__item:nth-child(4){
    position: absolute;
    top: 97.5%;
    left: 2.5%;
    &.enter{
      animation: forwards 1s msi-left;
    }
    &.enter-done{
      opacity: 0;
    }
    &.exit-active{
      opacity: 0;
    }
    &.exit-done{
      opacity: 0;
    }
    }
  &>.multisum__item:nth-child(5){
    position: absolute;
    top: 97.5%;
    left: 16.5%;
    &.enter{
      animation: forwards 1s msi-right;
    }
    &.enter-done{
      opacity: 0;
    }
    &.exit-active{
      opacity: 0;
    }
    &.exit-done{
      opacity: 0;
    }
    }
}
.multisum__item{
  border: 0.25px solid teal;
  color: black;
  width: calc(var(--msi__width)*0.95px);
  height: calc(var(--msi__height)*0.95px);
  text-align: center;
  font-size: calc(var(--msi__height)*0.9px);
}

@keyframes msi-left {
  40%{
  transform: translate(0,-482.5%);
  }
  80%{
    transform: translate(475%,-500%);
  }
  90%{
    transform: translate(475%,-485%);
    opacity: 1;
  }
  100%{
    transform: translate(475%,-485%);
    opacity: 0;
  }
}
@keyframes msi-right {
  40%{
    transform: translate(0,-330%);
  }
  80%{
    transform: translate(322.5%,-325%);
  }
  90%{
    transform: translate(322.5%,-485%);
    opacity: 1;
  }
  100%{
    transform: translate(322.5%,-485%);
    opacity: 0;
  }
}
@keyframes msi-result {
0%{
  opacity: 1;
}
  50%{
  transform: translate(340%,0);
  }
  100%{
    transform: translate(340%,420%);
    opacity: 1;
  }
}
@keyframes msi-buffer {
  0%{
    opacity: 1;
  }
  25%{
    transform: translate(0,-215%);
  }
  50%{
    opacity: 1;
    transform: translate(550%,-215%);
  }
  75%{
    transform: translate(1090%,-215%);
  }
  100%{
  transform: translate(1090%,-65%);
    opacity: 1;
  }
}