.multisum{
  width: 50%;
  height: 100%;
}
.suminput{
  padding-top: 1.25%;
  position: relative;
}
.suminput__field{
  max-width: 50%;
  width: 100%;
  padding-left: 1.25%;
  border:2px #004d68 solid;
  color:#004d68;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 25px;
  &:first-child{
    border-right: 1px #004d68 solid;
  }
}
.suminput__button{
  position: relative;
  float: right;
  margin-top: 1.25%;
  padding:0 2.5%;
  font-size: 25px;
  background: #004d68;
  border-radius: 25px;
  color: white;
  line-height: 1.75;
}
.sinsum__row{
  display: flex;
  flex-direction: column-reverse;
  &>.sinsum__item{
    border-left: 1px #004d68 solid;
    border-bottom: 1px #004d68 solid;
    border-right: 1px #004d68 solid;
    &:last-child{
      border-top: 1px #004d68 solid;
    }
  }
  &:first-child{
    position: relative;
    left: 7.5px;
    &>.sinsum__item-enter-active{
      &:last-child{
        animation: left calc(var(--ssi__time)*1ms) forwards;
      }
    }
  }
  &:last-child{
    position: relative;
    left: 23.5px;
    &>.sinsum__item-enter-active{
      &:last-child{
        animation: right calc(var(--ssi__time)*1ms) forwards;
      }
    }
  }
}
.sinsum__result{
  display: flex;
  flex-direction: row;
  color: red;
  position: absolute;
  top: 19.5%;
  &>.sinsum__item{
    opacity: 1;
    border-left: 1px #004d68 solid;
    border-top: 1px #004d68 solid;
    border-bottom: 1px #004d68 solid;
    &:last-child{
      border-right: 1px #004d68 solid;
    }
  }
  &>.sinsum__item-enter-done {
    opacity: 1;
  }
  &>.sinsum__item-appear{
    &:first-child{
    animation: appear calc(var(--ssi__time)*1ms) forwards;
  }
    opacity: 1;
  }
}
.sinsum__buffer{
  position: absolute;
  left: 140px;
  top: 48px;
  &>.sinsum__item{
    border: 1px #004d68 solid;

  }
  &>.sinsum__item-appear{
  animation: cycle calc(var(--ssi__time)*0.8ms) forwards;
  }
  &>.sinsum__item-enter-active{
  }
  &>.sinsum__item-enter-done{
  }
}
.sinsum__item{
  height: 27px;
  width: 27px;
  font-size: 21px;
  text-align: center;
  color: #004d68;
  padding: 2px;
}
@keyframes appear {
  0% {
    opacity: 1;
    transform: translate(-1000%,0);
  }
  100%{
    transform: translate(0,0);
  }
}
@keyframes cycle {
  0%{
    color:red;
  }
  25%{
    transform: translate(0,365%);
  }
  50%{
    transform: translate(322.5%,365%);
  }
  75%{
    transform: translate(322.5%,115%);
  }
  90%{
    transform: translate(0,115%);
  }
  100%{
    transform: translate(0,40%);
  }
}
@keyframes left {
  50%{
    transform: translateY(-148px)
  }
  75%{
    transform: translate(132px,-148px);
    opacity: 1;
  }
  100%{
    transform: translate(132px,-130px);
    opacity: 0;
  }
}
@keyframes right {
  50%{
    transform: translateY(-106px)
  }
  75%{
    transform: translate(88px,-106px);
    opacity: 1;
  }
  100%{
    transform: translate(88px,-130px);
    opacity: 0;
  }
}