@import 'nullstyle';
@import "header";
@import "body";
@import "sidebar";
@import "sinsum";
@import url("https://use.typekit.net/luw8rqy.css");
@import "multisum";
@import "parsum";
@import "groupsum";
@import "auth";
@import "dashboard";
@import "questconst";
@import "testconst";
@import "testlaunch";
@import "testlaunch";
@import "adminpanel";
@import "test";
*{
  font-family: "montserrat",sans-serif;
  color: #004d68;
}
a{
  text-decoration: none;
  &:visited{
    color: #004d68;
  }
}