@charset "UTF-8";
/*Обнуление*/
@import url("https://use.typekit.net/luw8rqy.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header {
  height: 75px;
  background: white;
  border-bottom: #004d68 solid 5px;
}

.body {
  display: flex;
  justify-content: center;
  background: white;
  color: white;
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  min-width: 100%;
  flex-direction: column;
}

.sidebar {
  width: 100%;
  padding-left: 0.25%;
  padding-top: 0.25%;
  min-width: 10%;
  max-width: 10%;
  /*border-right: 5px #185ae8 solid;*/
  background: white;
  color: #004d68;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: white #004d68;
  letter-spacing: 0.5px;
}

.sidebar__section {
  border-bottom: 2px #004d68 solid;
}
.sidebar__section > h2 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;
}
.sidebar__section > :not(h2):hover {
  cursor: pointer;
  text-decoration: underline;
}

.sidebar__item {
  font-size: 18px;
  padding: 2.5%;
}
.sidebar__item:first-child {
  margin-top: 25px;
}

.multisum {
  width: 50%;
  height: 100%;
}

.suminput {
  padding-top: 1.25%;
  position: relative;
}

.suminput__field {
  max-width: 50%;
  width: 100%;
  padding-left: 1.25%;
  border: 2px #004d68 solid;
  color: #004d68;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 25px;
}
.suminput__field:first-child {
  border-right: 1px #004d68 solid;
}

.suminput__button {
  position: relative;
  float: right;
  margin-top: 1.25%;
  padding: 0 2.5%;
  font-size: 25px;
  background: #004d68;
  border-radius: 25px;
  color: white;
  line-height: 1.75;
}

.sinsum__row {
  display: flex;
  flex-direction: column-reverse;
}
.sinsum__row:first-child {
  position: relative;
  left: 2.5%;
}
.sinsum__row:first-child > .sinsum__item-enter-active:last-child {
  animation: left 2000ms forwards;
}
.sinsum__row:last-child {
  position: relative;
  left: 7.5%;
}
.sinsum__row:last-child > .sinsum__item-enter-active:last-child {
  animation: right 2000ms forwards;
}

.sinsum__result {
  display: flex;
  flex-direction: row;
  color: red;
  position: absolute;
  top: 19.5%;
}
.sinsum__result > .sinsum__item {
  opacity: 0;
}
.sinsum__result > .sinsum__item-enter-done {
  opacity: 1;
}
.sinsum__result > .sinsum__item-appear {
  opacity: 1;
}
.sinsum__result > .sinsum__item-appear:first-child {
  animation: appear 2000ms forwards;
}

.sinsum__buffer {
  position: absolute;
  left: 47.5%;
  top: 35%;
}
.sinsum__buffer > .sinsum__item-appear {
  animation: cycle 2000ms forwards;
}
.sinsum__item {
  height: 27.5px;
  width: 27.5px;
  font-size: 21px;
  text-align: center;
  color: #004d68;
  border: 1px #004d68 solid;
  padding: 2px;
}

@keyframes appear {
  0% {
    opacity: 1;
    transform: translate(-1000%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes left {
  50% {
    transform: translateY(-535%);
  }
  75% {
    transform: translate(500%, -535%);
    opacity: 1;
  }
  100% {
    transform: translate(500%, -450%);
    opacity: 0;
  }
}
@keyframes right {
  50% {
    transform: translateY(-385%);
  }
  75% {
    transform: translate(350%, -385%);
    opacity: 1;
  }
  100% {
    transform: translate(350%, -450%);
    opacity: 0;
  }
}
@keyframes cycle {
  0% {
    color: red;
  }
  25% {
    transform: translate(-5%, 300%);
  }
  50% {
    transform: translate(325%, 300%);
  }
  75% {
    transform: translate(300%, 40%);
  }
  100% {
    transform: translate(0, 40%);
  }
}
* {
  font-family: "montserrat", sans-serif;
}

/*# sourceMappingURL=main.css.map */
