@charset "UTF-8";
/*Обнуление*/
@import url("https://use.typekit.net/luw8rqy.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header {
  height: 75px;
  background: white;
  border-bottom: #004d68 solid 5px;
}

.body {
  display: flex;
  justify-content: center;
  background: white;
  min-height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  min-width: 100%;
  flex-direction: column;
}

#bodyButton {
  position: relative;
  float: right;
  margin-top: 1.25%;
  padding: 0 2.5%;
  font-size: 25px;
  background: #004d68;
  border-radius: 25px;
  color: white;
  line-height: 1.75;
}

.sum__button {
  position: relative;
  float: right;
  margin-top: 1.25%;
  font-size: 20px;
  background: #004d68;
  border-radius: 25px;
  color: white;
  line-height: 1.75;
}

.sum__buttons {
  margin-top: 25px;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 50px;
}

.modal__opened {
  width: 100%;
  height: 100%;
  background: grey;
  opacity: 0.2;
  pointer-events: none;
}

.sidebar {
  width: 100%;
  padding-left: 0.25%;
  padding-top: 0.25%;
  min-width: 10%;
  max-width: 10%;
  /*border-right: 5px #185ae8 solid;*/
  background: white;
  color: #004d68;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: white #004d68;
  letter-spacing: 0.5px;
}

.sidebar__section {
  border-bottom: 2px #004d68 solid;
}
.sidebar__section > h2 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;
}
.sidebar__section > :not(h2):hover {
  cursor: pointer;
  text-decoration: underline;
}

.sidebar__item {
  font-size: 18px;
  padding: 2.5%;
}
.sidebar__item:first-child {
  margin-top: 25px;
}

.multisum {
  width: 50%;
  height: 100%;
}

.suminput {
  padding-top: 1.25%;
  position: relative;
}

.suminput__field {
  max-width: 50%;
  width: 100%;
  padding-left: 1.25%;
  border: 2px #004d68 solid;
  color: #004d68;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 25px;
}
.suminput__field:first-child {
  border-right: 1px #004d68 solid;
}

.suminput__button {
  position: relative;
  float: right;
  margin-top: 1.25%;
  padding: 0 2.5%;
  font-size: 25px;
  background: #004d68;
  border-radius: 25px;
  color: white;
  line-height: 1.75;
}

.sinsum__row {
  display: flex;
  flex-direction: column-reverse;
}
.sinsum__row > .sinsum__item {
  border-left: 1px #004d68 solid;
  border-bottom: 1px #004d68 solid;
  border-right: 1px #004d68 solid;
}
.sinsum__row > .sinsum__item:last-child {
  border-top: 1px #004d68 solid;
}
.sinsum__row:first-child {
  position: relative;
  left: 7.5px;
}
.sinsum__row:first-child > .sinsum__item-enter-active:last-child {
  animation: left calc(var(--ssi__time) * 1ms) forwards;
}
.sinsum__row:last-child {
  position: relative;
  left: 23.5px;
}
.sinsum__row:last-child > .sinsum__item-enter-active:last-child {
  animation: right calc(var(--ssi__time) * 1ms) forwards;
}

.sinsum__result {
  display: flex;
  flex-direction: row;
  color: red;
  position: absolute;
  top: 19.5%;
}
.sinsum__result > .sinsum__item {
  opacity: 1;
  border-left: 1px #004d68 solid;
  border-top: 1px #004d68 solid;
  border-bottom: 1px #004d68 solid;
}
.sinsum__result > .sinsum__item:last-child {
  border-right: 1px #004d68 solid;
}
.sinsum__result > .sinsum__item-enter-done {
  opacity: 1;
}
.sinsum__result > .sinsum__item-appear {
  opacity: 1;
}
.sinsum__result > .sinsum__item-appear:first-child {
  animation: appear calc(var(--ssi__time) * 1ms) forwards;
}

.sinsum__buffer {
  position: absolute;
  left: 140px;
  top: 48px;
}
.sinsum__buffer > .sinsum__item {
  border: 1px #004d68 solid;
}
.sinsum__buffer > .sinsum__item-appear {
  animation: cycle calc(var(--ssi__time) * 0.8ms) forwards;
}
.sinsum__item {
  height: 27px;
  width: 27px;
  font-size: 21px;
  text-align: center;
  color: #004d68;
  padding: 2px;
}

@keyframes appear {
  0% {
    opacity: 1;
    transform: translate(-1000%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes cycle {
  0% {
    color: red;
  }
  25% {
    transform: translate(0, 365%);
  }
  50% {
    transform: translate(322.5%, 365%);
  }
  75% {
    transform: translate(322.5%, 115%);
  }
  90% {
    transform: translate(0, 115%);
  }
  100% {
    transform: translate(0, 40%);
  }
}
@keyframes left {
  50% {
    transform: translateY(-148px);
  }
  75% {
    transform: translate(132px, -148px);
    opacity: 1;
  }
  100% {
    transform: translate(132px, -130px);
    opacity: 0;
  }
}
@keyframes right {
  50% {
    transform: translateY(-106px);
  }
  75% {
    transform: translate(88px, -106px);
    opacity: 1;
  }
  100% {
    transform: translate(88px, -130px);
    opacity: 0;
  }
}
.sum__result {
  font-size: 26px;
  margin-top: 10px;
  letter-spacing: 1px;
  text-decoration: underline;
}

.multisum__row {
  display: flex;
  width: 100%;
  position: relative;
  align-items: flex-end;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.multisum__block {
  position: relative;
  width: 100%;
}
.multisum__block > .multisum__item:nth-child(2) {
  position: absolute;
  top: 41.5%;
  left: 45%;
  color: red;
  opacity: 0;
}
.multisum__block > .multisum__item:nth-child(2).enter {
  animation: forwards calc(var(--msi__time) * 1ms) msi-result;
}
.multisum__block > .multisum__item:nth-child(2).enter-done {
  opacity: 1;
  transform: translate(340%, 420%);
}
.multisum__block > .multisum__item:nth-child(2).exit-done {
  opacity: 0;
}
.multisum__block > .multisum__item:nth-child(3) {
  position: absolute;
  top: 40%;
  left: 45%;
  opacity: 0;
}
.multisum__block > .multisum__item:nth-child(3).enter {
  animation: calc(var(--msi__time) * 2ms) msi-buffer;
}
.multisum__block > .multisum__item:nth-child(4) {
  position: absolute;
  top: 97.5%;
  left: 2.5%;
}
.multisum__block > .multisum__item:nth-child(4).enter {
  animation: forwards calc(var(--msi__time) * 1ms) msi-left;
}
.multisum__block > .multisum__item:nth-child(4).enter-done {
  opacity: 0;
}
.multisum__block > .multisum__item:nth-child(4).exit-active {
  opacity: 0;
}
.multisum__block > .multisum__item:nth-child(4).exit-done {
  opacity: 0;
}
.multisum__block > .multisum__item:nth-child(5) {
  position: absolute;
  top: 97.5%;
  left: 16.5%;
}
.multisum__block > .multisum__item:nth-child(5).enter {
  animation: forwards calc(var(--msi__time) * 1ms) msi-right;
}
.multisum__block > .multisum__item:nth-child(5).enter-done {
  opacity: 0;
}
.multisum__block > .multisum__item:nth-child(5).exit-active {
  opacity: 0;
}
.multisum__block > .multisum__item:nth-child(5).exit-done {
  opacity: 0;
}

.multisum__item {
  border: 0.25px solid teal;
  color: black;
  width: calc(var(--msi__width) * 0.95px);
  height: calc(var(--msi__height) * 0.95px);
  text-align: center;
  font-size: calc(var(--msi__height) * 0.9px);
}

@keyframes msi-left {
  40% {
    transform: translate(0, -482.5%);
  }
  80% {
    transform: translate(475%, -500%);
  }
  90% {
    transform: translate(475%, -485%);
    opacity: 1;
  }
  100% {
    transform: translate(475%, -485%);
    opacity: 0;
  }
}
@keyframes msi-right {
  40% {
    transform: translate(0, -330%);
  }
  80% {
    transform: translate(322.5%, -325%);
  }
  90% {
    transform: translate(322.5%, -485%);
    opacity: 1;
  }
  100% {
    transform: translate(322.5%, -485%);
    opacity: 0;
  }
}
@keyframes msi-result {
  0% {
    opacity: 1;
  }
  50% {
    transform: translate(340%, 0);
  }
  100% {
    transform: translate(340%, 420%);
    opacity: 1;
  }
}
@keyframes msi-buffer {
  0% {
    opacity: 1;
  }
  25% {
    transform: translate(0, -215%);
  }
  50% {
    opacity: 1;
    transform: translate(550%, -215%);
  }
  75% {
    transform: translate(1090%, -215%);
  }
  100% {
    transform: translate(1090%, -65%);
    opacity: 1;
  }
}
.parsum__row {
  display: flex;
  width: 100%;
  position: relative;
  align-items: flex-end;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.parsum__block {
  position: relative;
  width: 100%;
}

.parsum__sum {
  margin-top: calc(var(--psi__height) * 1px);
  position: relative;
}
.parsum__sum .parsum__item:nth-child(1) {
  position: absolute;
  top: 48.5%;
  left: 45%;
  opacity: 0;
}
.parsum__sum .parsum__item:nth-child(1).enter {
  animation: calc(var(--psi__time) * 1ms) psi-result;
}
.parsum__sum .parsum__item:nth-child(1).enter-done {
  transform: translate(344%, 460%);
  opacity: 1;
}
.parsum__sum .parsum__item:nth-child(2) {
  position: absolute;
  top: 97.5%;
  left: 2.5%;
}
.parsum__sum .parsum__item:nth-child(2).enter {
  animation: calc(var(--psi__time) * 1ms) psi-left;
}
.parsum__sum .parsum__item:nth-child(2).enter-done {
  opacity: 0;
}
.parsum__sum .parsum__item:nth-child(2).exit-active {
  opacity: 0;
}
.parsum__sum .parsum__item:nth-child(2).exit-done {
  opacity: 0;
}
.parsum__sum .parsum__item:nth-child(3) {
  position: absolute;
  top: 97.5%;
  left: 16.5%;
}
.parsum__sum .parsum__item:nth-child(3).enter {
  animation: calc(var(--psi__time) * 1ms) psi-right;
}
.parsum__sum .parsum__item:nth-child(3).enter-done {
  opacity: 0;
}
.parsum__sum .parsum__item:nth-child(3).exit-active {
  opacity: 0;
}
.parsum__sum .parsum__item:nth-child(3).exit-done {
  opacity: 0;
}

.parsum__sum-top {
  position: relative;
  left: 13%;
}

.parsum__transition {
  display: flex;
  position: absolute;
}
.parsum__transition > .parsum__item.enter-active {
  animation: calc(var(--psi__time) * 1ms) forwards row-transition;
  color: red;
}
.parsum__transition > .parsum__item.enter-done {
  color: purple;
  opacity: 0;
}

.parsum__item {
  border: 0.25px solid teal;
  color: black;
  width: calc(var(--psi__width) * 0.95px);
  height: calc(var(--psi__height) * 0.95px);
  text-align: center;
  font-size: calc(var(--psi__height) * 0.9px);
}

@keyframes psi-left {
  40% {
    transform: translate(0, -365%);
  }
  80% {
    transform: translate(475%, -365%);
  }
  90% {
    transform: translate(475%, -485%);
    opacity: 1;
  }
  100% {
    transform: translate(475%, -485%);
    opacity: 0;
  }
}
@keyframes psi-right {
  40% {
    transform: translate(0, -227.5%);
  }
  80% {
    transform: translate(325%, -227.5%);
  }
  90% {
    transform: translate(325%, -485%);
    opacity: 1;
  }
  100% {
    transform: translate(325%, -485%);
    opacity: 0;
  }
}
@keyframes psi-result {
  0% {
    opacity: 1;
  }
  50% {
    transform: translate(344%, 0);
  }
  100% {
    transform: translate(344%, 460%);
    opacity: 1;
  }
}
@keyframes row-transition {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(calc(var(--psi__move) * -1px), 0);
  }
  100% {
    transform: translate(calc(var(--psi__move) * -1px), 150%);
  }
}
.groupsum__input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupsum__row {
  position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: flex-end;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-top: calc(var(--gsi__height) * 1px);
}

.groupsum__block {
  width: 100%;
  position: relative;
  display: flex;
  border: 1px teal solid;
  margin-left: 2.25%;
  padding-top: 17px;
  padding-bottom: calc(var(--gsi__height) * 1px);
}

.groupsum__transition {
  display: flex;
  position: absolute;
  left: 5px;
  top: 0;
}
.groupsum__transition > .groupsum__item.enter-active {
  animation: calc(var(--gsi__time) * 1ms) forwards row-transition2;
  color: red;
}
.groupsum__transition > .groupsum__item.enter-done {
  color: purple;
  opacity: 0;
}

.groupsum__item {
  border: 0.25px solid teal;
  color: black;
  width: calc(var(--gsi__width) * 0.95px);
  height: calc(var(--gsi__height) * 0.95px);
  text-align: center;
  font-size: calc(var(--gsi__height) * 0.9px);
}

.groupsum__elem {
  position: relative;
}
.groupsum__elem .groupsum__item:nth-child(2) {
  position: absolute;
  top: 40.5%;
  left: 45%;
  opacity: 0;
}
.groupsum__elem .groupsum__item:nth-child(2).enter {
  animation: calc(var(--gsi__time) * 1ms) gsi-result;
}
.groupsum__elem .groupsum__item:nth-child(2).enter-done {
  transform: translate(335%, 415%);
  opacity: 1;
}
.groupsum__elem .groupsum__item:nth-child(3) {
  position: absolute;
  top: 97.5%;
  left: 2.5%;
}
.groupsum__elem .groupsum__item:nth-child(3).enter {
  animation: calc(var(--gsi__time) * 1ms) gsi-left;
}
.groupsum__elem .groupsum__item:nth-child(3).enter-done {
  opacity: 0;
}
.groupsum__elem .groupsum__item:nth-child(3).exit-active {
  opacity: 0;
}
.groupsum__elem .groupsum__item:nth-child(3).exit-done {
  opacity: 0;
}
.groupsum__elem .groupsum__item:nth-child(4) {
  position: absolute;
  top: 97.5%;
  left: 16.5%;
}
.groupsum__elem .groupsum__item:nth-child(4).enter {
  animation: calc(var(--gsi__time) * 1ms) gsi-right;
}
.groupsum__elem .groupsum__item:nth-child(4).enter-done {
  opacity: 0;
}
.groupsum__elem .groupsum__item:nth-child(4).exit-active {
  opacity: 0;
}
.groupsum__elem .groupsum__item:nth-child(4).exit-done {
  opacity: 0;
}
.groupsum__elem .groupsum__item:nth-child(5) {
  position: absolute;
  top: 40.5%;
  left: 45%;
  opacity: 0;
}
.groupsum__elem .groupsum__item:nth-child(5).enter {
  animation: calc(var(--gsi__time) * 1ms) gsi-buffer2;
}
.groupsum__elem .groupsum__item:nth-child(5).enter-done {
  opacity: 0;
}
.groupsum__elem .groupsum__item:nth-child(6) {
  position: absolute;
  top: 9%;
  left: 5px;
  opacity: 0;
}
.groupsum__elem .groupsum__item:nth-child(6).appear {
  opacity: 1;
  animation: calc(var(--gsi__time) * 1ms) gsi-buffer1;
}
.groupsum__elem .groupsum__item:nth-child(6).appear-done {
  opacity: 0;
}
.groupsum__elem .groupsum__item:nth-child(6).enter-done {
  opacity: 0;
}
.groupsum__elem .groupsum__item:nth-child(6).exit-active {
  opacity: 0;
}
.groupsum__elem .groupsum__item:nth-child(6).exit-done {
  opacity: 0;
}

@keyframes gsi-left {
  40% {
    transform: translate(0, -465%);
  }
  80% {
    transform: translate(475%, -465%);
  }
  90% {
    transform: translate(475%, -485%);
    opacity: 1;
  }
  100% {
    transform: translate(475%, -485%);
    opacity: 0;
  }
}
@keyframes gsi-right {
  40% {
    transform: translate(0, -327.5%);
  }
  80% {
    transform: translate(325%, -327.5%);
  }
  90% {
    transform: translate(325%, -485%);
    opacity: 1;
  }
  100% {
    transform: translate(325%, -485%);
    opacity: 0;
  }
}
@keyframes row-transition2 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(calc(var(--gsi__move) * -1px), 0);
  }
  100% {
    transform: translate(calc(var(--gsi__move) * -1px), 150%);
  }
}
@keyframes gsi-result {
  0% {
    opacity: 1;
  }
  50% {
    transform: translate(335%, 0);
  }
  100% {
    transform: translate(335%, 415%);
    opacity: 1;
  }
}
@keyframes gsi-buffer1 {
  0% {
    opacity: 1;
    color: red;
  }
  50% {
    opacity: 1;
    transform: translate(475%, 0);
  }
  99% {
    opacity: 1;
    transform: translate(475%, 250%);
  }
  100% {
    opacity: 0;
  }
}
@keyframes gsi-buffer2 {
  0% {
    opacity: 1;
  }
  25% {
    transform: translate(0, -215%);
  }
  50% {
    opacity: 1;
    transform: translate(550%, -215%);
  }
  75% {
    transform: translate(1090%, -215%);
  }
  100% {
    transform: translate(1090%, -65%);
    opacity: 1;
  }
}
.auth__block {
  position: relative;
  float: right;
  border-left: #004d68 1px solid;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #004d68;
  padding: 0 2.5%;
}
.auth__block:hover {
  text-decoration: underline;
  cursor: pointer;
}

.auth__form {
  left: 40%;
  top: 15%;
  position: fixed;
  background: white;
  border: 2px #004d68 solid;
  font-size: 26px;
  color: #004d68;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth__form > span {
  font-size: 20px;
  padding: 1.25%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.auth__form > span > span {
  font-weight: bold;
}
.auth__form > span > span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.auth__inputs {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth__inputs > input {
  border: 0.25px solid #004d68;
  font-size: 26px;
  border-radius: 25px;
  padding: 25px;
  margin-top: 10px;
}

.auth__subbtn {
  background: #004d68;
  color: white;
  font-size: 26px;
  border-radius: 25px;
  padding: 2.5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.auth__list {
  border: 1px #004d68 solid;
  width: 100%;
  position: absolute;
  display: block;
  top: 75px;
}
.auth__list > div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hidden {
  display: none;
}

.iu-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.iu-container {
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.image {
  width: 300px;
  height: 300px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.ui__caption {
  width: 300px;
  padding: 5px;
  border-bottom: #004d68 0.5px solid;
}

.iu-container:hover .image {
  opacity: 0.8;
}

.db__list > li {
  font-size: 20px;
  margin-top: 10px;
  letter-spacing: 2px;
}
.db__list > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.questconst__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.questconst__box {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.questconst__form {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.questconst__form > span {
  font-size: 25px;
}
.questconst__form > .questconst__input {
  width: 100%;
}

.questconst__input {
  width: 50%;
  margin-top: 10px;
  border: #004d68 2px solid;
  font-size: 26px;
  padding: 0.5%;
  border-radius: 25px;
  text-align: left;
}

.questconst__buttons {
  margin-top: 10px;
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.questconst__buttons > div > button {
  font-size: 20px;
  border-radius: 25px;
  padding: 1.25%;
  background: #004d68;
  color: white;
}

.questconst__list {
  border: #004d68;
  font-size: 20px;
  width: 45%;
  overflow: hidden;
}
.questconst__list > li {
  list-style: circle outside;
}

.questconst__block {
  padding: 1%;
  margin-top: 10px;
  border-radius: 25px;
  border: #004d68 solid 2px;
  font-size: 26px;
  color: #004d68;
  display: flex;
  flex-direction: column;
}
.questconst__block > span {
  margin-top: 10px;
}
.questconst__block > span > input {
  margin-left: 10px;
}

.questconst__button {
  margin-top: 10px;
  font-size: 26px;
  border-radius: 25px;
  padding: 1.25%;
  background: #004d68;
  color: white;
}

.questconst__cb {
  width: 30px;
  height: 30px;
}
.questconst__cb:checked {
  background: #004d68;
  color: white;
}

.questconst__option:hover {
  text-decoration: underline;
  cursor: pointer;
}

.questconst__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 25%;
  border: #004d68 1px solid;
  width: 800px;
  background: white;
}
.questconst__xclose {
  position: absolute;
  top: 0;
  right: 0;
}
.questconst__xclose:hover {
  cursor: pointer;
  text-decoration: underline;
}

.testconst__body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.testconst__list {
  font-size: 21px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testconst__quest {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #004d68 1px solid;
  border-radius: 25px;
  margin-top: 10px;
  padding: 10px;
}

.testconst__item {
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  align-items: center;
  padding: 1.25%;
  font-weight: 600;
  letter-spacing: 1px;
  height: 50px;
}
.testconst__item:hover {
  background: #004d68;
  color: white;
  cursor: pointer;
}
.testconst__item:hover > span {
  border: 0.25px solid white;
  color: white;
}
.testconst__item > span {
  border-radius: 12px;
  padding: 0.5%;
  border: #004d68 0.25px solid;
}
.testconst__item > span:hover {
  background: #004d68;
  color: white;
  cursor: pointer;
}

.selected {
  background: #004d68;
  color: white;
}
.selected > span {
  border: 0.25px solid white;
  color: white;
}

.testconst__content > span {
  font-size: 26px;
}

.testconst__row {
  display: flex;
  flex-direction: column;
}

.testconst__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 25%;
  border: #004d68 1px solid;
  width: 800px;
  background: white;
}
.testconst__xclose {
  position: absolute;
  top: 0;
  right: 0;
}
.testconst__xclose:hover {
  cursor: pointer;
  text-decoration: underline;
}

.testconst__button {
  margin-top: 10px;
  font-size: 26px;
  border-radius: 25px;
  padding: 1.25%;
  background: #004d68;
  color: white;
  margin-bottom: 10px;
}

.testconst__form {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testconst__form > span {
  font-size: 25px;
}
.testconst__form > .questconst__input {
  width: 100%;
}

.testconst__input {
  width: 100%;
  margin-top: 10px;
  border: #004d68 2px solid;
  font-size: 26px;
  padding: 1.25%;
  border-radius: 25px;
  text-align: left;
}

.testconst__imagerow {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.testconst__subrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.testconst__subrow > div {
  max-width: 33%;
}
.testconst__subrow > div > img {
  width: 100%;
}

.testconst__image {
  width: 100%;
}
.testconst__image > div {
  width: 100%;
}
.testconst__image > div > img {
  width: 100%;
}

.testlaunch__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.testlaunch__list {
  margin-top: 10px;
  font-size: 21px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testlaunch__question {
  margin-top: 10px;
  width: 100%;
  border: #004d68 1px solid;
  border-radius: 25px;
  padding: 1.25%;
}

.testlaunch__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 25%;
  font-size: 24px;
  letter-spacing: 0.25px;
  border: #004d68 1px solid;
  width: 800px;
  background: white;
}
.testlaunch__modal > input {
  font-size: 26px;
  border: #004d68 0.25px solid;
}
.testlaunch__modal > span {
  font-size: 26px;
  letter-spacing: 1px;
}
.testlaunch__modal > span:last-child:hover {
  cursor: pointer;
  text-decoration: underline;
}

.testlaunch__xclose {
  position: absolute;
  top: 0;
  right: 0;
}
.testlaunch__xclose:hover {
  cursor: pointer;
  text-decoration: underline;
}

.testlaunch__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.testlaunch__list {
  margin-top: 10px;
  font-size: 21px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testlaunch__question {
  margin-top: 10px;
  width: 100%;
  border: #004d68 1px solid;
  border-radius: 25px;
  padding: 1.25%;
}

.testlaunch__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 25%;
  font-size: 24px;
  letter-spacing: 0.25px;
  border: #004d68 1px solid;
  width: 800px;
  background: white;
}
.testlaunch__modal > input {
  font-size: 26px;
  border: #004d68 0.25px solid;
}
.testlaunch__modal > span {
  font-size: 26px;
  letter-spacing: 1px;
}
.testlaunch__modal > span:last-child:hover {
  cursor: pointer;
  text-decoration: underline;
}

.testlaunch__xclose {
  position: absolute;
  top: 0;
  right: 0;
}
.testlaunch__xclose:hover {
  cursor: pointer;
  text-decoration: underline;
}

.adminpanel__body {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.adminpanel__functions {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px #004d68 solid;
}

.adminpanel__student {
  width: 45%;
}

.adminpanel__group {
  width: 45%;
}

.adminpanel__element > div {
  padding: 1.25%;
}
.adminpanel__element > div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.adminpanel__input {
  border: 1px #004d68 solid;
  padding: 1.25%;
  font-size: 25px;
  border-radius: 25px;
}

.adminpanel__tables {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.adminpanel__table {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.adminpanel__titem {
  border: #004d68 0.25px solid;
  padding: 0.25%;
}

.adminpanel__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 25%;
  border: #004d68 1px solid;
  width: 800px;
  background: white;
}
.adminpanel__xclose {
  position: absolute;
  top: 0;
  right: 0;
}
.adminpanel__xclose:hover {
  cursor: pointer;
  text-decoration: underline;
}

.adminpanel__request:hover {
  text-decoration: underline;
  cursor: pointer;
}

.adminpanel__option {
  font-weight: 600;
}

.isTrue {
  text-decoration: underline;
}

.isSelected {
  color: greenyellow;
}

.adminpanel__test {
  position: relative;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
}

.test__body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.test__testlist {
  display: flex;
  width: 50%;
  justify-content: center;
  font-size: 26px;
  flex-direction: column;
}
.test__testlist > div {
  width: 100%;
  padding: 2.5%;
  border-radius: 25px;
  margin-top: 10px;
  border: #004d68 1px solid;
}

.test__questionslist {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
}

.test__question {
  font-size: 26px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-radius: 25px;
  border: #004d68 1px solid;
  padding: 2.5%;
  margin-top: 10px;
}
.test__question > input {
  margin-top: 10px;
  font-size: 24px;
  border-radius: 12px;
  width: 50%;
  border: #004d68 0.25px solid;
}

.test__options__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 10px;
}

.test__option {
  background: grey;
  padding: 1.25%;
  border-radius: 12px;
  color: white;
}
.test__option:hover {
  cursor: pointer;
  font-size: 20px;
}
.test__option.selected {
  background: #e6faeb;
  color: #004d68;
}

.test__subbtn {
  margin-top: 10px;
  font-size: 25px;
  padding: 0.5%;
  border-radius: 25px;
  background: #004d68;
  color: white;
}

.testresult__body {
  display: flex;
  width: 100%;
  justify-content: center;
}

.result__testlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.result__test {
  border: #004d68 1px solid;
  font-size: 25px;
  padding: 1%;
  margin-top: 10px;
  border-radius: 10px;
}
.result__test:hover {
  background: #004d68;
  color: white;
}

.teacherresult__box {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.teacherresult__stundent {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px #004d68 solid;
  justify-content: center;
}

.teacherresult__answer {
  display: flex;
  flex-direction: column;
}

.teacherresult__buttons {
  display: flex;
  justify-content: space-between;
}
.teacherresult__buttons > div {
  border: #004d68 1px solid;
  border-radius: 25px;
  padding: 1%;
}
.teacherresult__buttons > div:hover {
  cursor: pointer;
  background: #004d68;
  color: white;
}

.teacherresult__submit {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.teacherresult__submit > input {
  font-size: 26px;
  border: 0.5px solid #004d68;
  padding: 0.5%;
  border-radius: 25px;
}
.teacherresult__submit > div {
  padding: 1%;
  border: #004d68 0.5px solid;
}
.teacherresult__submit > div:hover {
  background: #004d68;
  color: white;
  cursor: pointer;
  padding: 1%;
  border-radius: 25px;
}

* {
  font-family: "montserrat", sans-serif;
  color: #004d68;
}

a {
  text-decoration: none;
}
a:visited {
  color: #004d68;
}

/*# sourceMappingURL=main.css.map */
